code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  --side: 128px;
  --gray-color: #5f5f5f;
  --main-color: #008cff;
  --accent-color: #63b9ff;
  --rare-color: #cbe8ff;
  --stars-color: #ffb700;
  --sale-color: #ff6600;
  --radius: 12px;
  --gap: 16px;
  --space: 16px;
}
.page-container {
  padding: 16px var(--side) 16px var(--side);
}
.flex {
  display: flex;
  align-items: center;
  gap: var(--gap)
}
a {
  text-decoration: none;
}
button {
  display: flex;
  align-items: center;

  border: none;
  border-radius: var(--radius);
  background-color: var(--accent-color);
  padding: var(--gap);

  color: white;
  font-weight: 800;
}
input {
  border: none;
  border-radius: var(--radius);
  background-color: var(--rare-color);
  padding: var(--gap);
}
span {
  color: var(--gray-color)
}
p {
  display: flex;
}